body {
    background-color: #f4f4f9;
}

.page-header {
    background-color: #0056b3;
    color: white;
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    border-radius: 0.3rem;
}

.page-header h1 a {
    color: white;
    text-decoration: none;
}

.admin-link {
    font-size: 1.1em;
    margin-top: 40px;
    padding-top: 20px;
    border-top: 1px solid #eee;
}

.admin-link a {
    color: #0056b3;
    text-decoration: none;
    font-weight: bold;
}

.admin-link a:hover {
    text-decoration: underline;
}